.body {
    color: #000000;
    font-family: "Noto Sans JP", sans-serif;
}

/* ↓Article用CSS↓*/

/* ヘッダー */

/* メインビジュアル（Detail用） */

/* アバウト （Detail用）*/

/* 三つの輪 （Detail用）*/
.service__tab {
    display: flex;
    gap: 24px;
  }

  .service__tab__button {
    background: #ffcbf2;
    color: #333;
    border-radius: 10px 10px 0 0;
    width: 33.3333%;
    text-align: center;
    padding: 20px 8px;
    
  }

  .service__tab__button[aria-selected=true] {
    background: #ff66c4;
    font-weight: bold;
  }

  .service__panel {
    border: solid 1px #333;
    padding: 32px 32px 40px;
  }

  .service__panel__item[aria-hidden=true] {
    display: none;
  }

  .service__panel__item__text {
    margin-top: 24px;
    font-size: 16px;
  }
/* フッター */

/* 色のリスト*/
/* 
    薄いピンク  color:#FFCBF2;　
    濃いピンク  color: #FF66C4;　
    薄い黄色    color: #FFFF99;　
    薄い緑      color: #CCDC38;　
    薄い青      color: #B3E2D8;　
    白          color: white; 　
*/