body {
    color:#FF66C4;
    font-family: "Noto Sans JP", sans-serif;
}

/* ↓Article用CSS↓*/
.mainvisual-1{

}

.intro-1{

}

.contents{
    margin-bottom: 30px;
    padding: 1em 1em 1em 1em;
    border: 1px solid #999;
    background-color: #f7f7f7;
    margin-left: 40px;
    margin-right: 900px;
    margin-top: 30px;
}

.contents div {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 0;
}

.contents ol {
    list-style-type: decimal;
    margin: 0;
    padding: 0 1.2em;
    overflow: hidden;
}


/* ↑目次用のcss */

/* ヘッダー */
.SNS-chi {
    width: 40px;
    height: 40px;
    filter: brightness(5);
}

.SNSnav {
    display: flex;
    gap: 20px;
}

.About-and-SNS {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(179,226,216) ;
    border-bottom: solid 1px var(--gray-light-color);
}

.AboutP-chi {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.1em;
    transition: color 0.3s linear;
    display: inline-block;
}
.logo-chi{
    filter: brightness(6);
}

/* メインビジュアル（Detail用） */

/* アバウト （Detail用）*/

/* 三つの輪 （Detail用）*/
.service__tab {
    display: flex;
    gap: 24px;
  }

  .service__tab__button {
    background: #ffcbf2;
    color: #333;
    border-radius: 10px 10px 0 0;
    width: 33.3333%;
    text-align: center;
    padding: 20px 8px;
    
  }

  .service__tab__button[aria-selected=true] {
    background: #ff66c4;
    font-weight: bold;
  }

  .service__panel {
    border: solid 1px #333;
    padding: 32px 32px 40px;
  }

  .service__panel__item[aria-hidden=true] {
    display: none;
  }

  .service__panel__item__text {
    margin-top: 24px;
    font-size: 16px;
  }
/* フッター */

/* 色のリスト*/
/* 
    薄いピンク  color:#FFCBF2;　
    濃いピンク  color: #FF66C4;　
    薄い黄色    color: #FFFF99;　
    薄い緑      color: #CCDC38;　
    薄い青      color: #B3E2D8;　
    白          color: white; 　
*/