.body {
    color: #000000;
    font-family: "Noto Sans JP", sans-serif;
}

/* ↓Article用CSS↓*/

/* ヘッダー */

/* メインビジュアル（Detail用） */
.hero-img{
    width:  100%;
    height: px;
}

/* アバウト （Detail用）*/
.lead{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 30px;
    padding-top: 100px;
}
.lead-img{
    width: 500px;
    border-radius: 10px;
}
.lead-sentense-box{
    display: flex;
}
.lead-sentense{

}
.container{
    
    max-width: 980px;
}

/* 三つの輪 （Detail用）*/

/* フッター */

/* 色のリスト*/
/* 
    薄いピンク  color:#FFCBF2;　
    濃いピンク  color: #FF66C4;　
    薄い黄色    color: #FFFF99;　
    薄い緑      color: #CCDC38;　
    薄い青      color: #B3E2D8;　
    白          color: white; 　
*/